:root {
    --primary-color: #254753;
    --yellow-color: #ffb416;
    --white-color: #fff;
    --black-color: #000;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* Grid layout */
.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-w {
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

.d-flex {
    display: flex;
}

/* Grid layout */

/* Col */
.col-xl-3 {
    max-width: 25%;
    flex: 0 0 25%;
    padding-left: 10px;
    padding-right: 10px;
}

.col-xl-4 {
    max-width: 33.33333%;
    flex: 0 0 33.33333%;
    padding-left: 10px;
    padding-right: 10px;
}

.col-xl-5 {
    max-width: 41.66667%;
    flex: 0 0 41.66667%;
    padding-left: 10px;
    padding-right: 10px;
}

.col-xl-6 {
    max-width: 50%;
    flex: 0 0 50%;
    padding-left: 10px;
    padding-right: 10px;
}

.col-xl-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
    padding-left: 10px;
    padding-right: 10px;
}

.col-xl-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
    padding-left: 10px;
    padding-right: 10px;
}

.col-xl-10-2{
    flex: 0 0 20%;
    max-width: 20%;
    padding-left: 10px;
    padding-right: 10px;
}

.col-xl-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
    padding-left: 10px;
    padding-right: 10px;
}

.col-xl-1-5 {
    flex: 0 0 12.5%;
    max-width: 12.5%;
    padding-left: 10px;
    padding-right: 10px;
}

/* ---------------------------------Header-base--------------------------------- */
.header {
    height: 110px;
    padding: 10px 0 0 0;
}

/* .container {
    width: 100%;
    max-width: 1200px;
} */

.header__logo-link {
    height: 94px;
    display: flex;
    align-items: center;
    overflow: hidden;
    text-decoration: none;
}

.header__logo-img {
    max-width: 170px;
    border: none;
    height: auto;
}

.header__search {
    display: flex;
    align-items: center;
}

.header__search-input-wrap {
    padding-top: 2px;
    position: relative;
    margin-right: 20px;
}

.header__search-input-field {
    height: 42px;
    border-radius: 5px;
    border: 1px solid;
    padding: 0 9px;
    font-size: 1.4rem;
    min-width: 342px;
    outline: none;
}

.header__search-input-icon {
    position: absolute;
    right: 7px;
    top: 28%;
    color: var(--primary-color);
    font-size: 2rem;
}


.header__search-contact-img {
    height: 36px;
    width: 36px;
    margin: 8px 0 0 0;
}

.header__search-contact-wrap {
    display: flex;
    align-items: center;
    min-width: 250px;
}

.header__search-contact-info {
    margin-left: 10px;
}

.header__search-contact-title {
    font-size: 1.5rem;
    display: block;
}

.header__contact-phone {
    font-size: 2rem;
    margin: 6px 0 0 0;
    color: var(--primary-color);
    transition: all .3s ease-in-out;
}

.header__user-logout:hover,
.header__contact-phone:hover {
    opacity: 0.6;
    cursor: pointer;

}

.header__user-info {
    display: flex;
    align-self: center;
}

.header__user-wrap {
    display: flex;
    align-items: center;
    min-width: 170px;
}

.header__user-wrap>img {
    height: auto;
    width: 44px;
}

.user__info-wrap {
    margin-bottom: 5px;
}

.header__user-title {
    font-size: 1.4rem;
    color: #323c42;
}

.header__user-logout {
    margin: 0;
    font-size: 1.4rem;
    color: var(--primary-color);
    transition: all .3s ease-in-out;

}

.header__cart-wrap {
    position: relative;
    margin-left: 8px;
}

.header__cart-notice--cart::after {
    content: "";
    display: block;
    position: absolute;
    top: -14px;
    right: 0;
    width: 100%;
    height: 20px;
}

.header__cart-img {
    height: auto;
    width: 30px;
}

.header__cart-notice {
    position: absolute;
    background-color: var(--primary-color);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0px;
    right: -10px;
    border: 1px solid var(--white-color);
    color: var(--white-color);
}

.header__cart-notice--cart {
    position: absolute;
    height: 145px;
    width: 340px;
    background-color: var(--white-color);
    right: 0;
    text-align: center;
    box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
    animation: fadeIn ease-in 0.2s;
    display: none;
    top: 100%;
    z-index: 10;
}



.header__cart-notice--cart img {
    height: auto;
    width: 80px;
    margin-top: 16px;
}

.header__cart-notice-des {
    font-size: 1.4rem;
}

.header__cart-wrap:hover .header__cart-notice--cart {
    display: block;
}

.header__nav {
    /* height: 42px; */
    background-color: var(--primary-color);
}

.header__nav-wrap {
    height: 42px;
}

.header__nav-menu-title {
    line-height: 42px;
    height: 42px;
    width: 280px;
    margin: 0 auto;
    padding: 0 0 0 20px;
    position: relative;
    cursor: pointer;
}


.nav__menu-title {
    font-size: 1.6rem;
    color: var(--white-color);
    font-weight: 500;
    position: relative;

}


.header___menu-title-list {
    background-color: #f4f4f4;
    height: 214px;
    position: absolute;
    width: 95%;
    top: 100%;
    margin: 0;
    padding: 0;
    display: none;
    animation: fadeIn ease-in 0.2s;
    box-shadow: 0 1px 1rem 0 rgba(0, 0, 0, 0.2);
    z-index: 10;

}

.header___menu-title-item {
    display: flex;
    align-items: center;
    height: 36px;
}

.header__menu-title-item-wrap {
    height: 42px;
    display: flex;
    position: relative;
}

.header___menu-title-item:hover {
    background-color: var(--yellow-color);
}

.header___menu-title-item:hover .header___menu-item-icon,
.header___menu-title-item:hover .header___menu-item-name {
    color: var(--white-color);
}

.header___menu-item-img {
    height: 26px;
    width: 26px;
    margin: 6px;
}

.header___menu-item-name {
    font-size: 1.4rem;
    margin-right: 100px;

}


.header___menu-item-icon {
    font-size: 1.4rem;
    position: absolute;
    right: 10px;
}

.header__nav-item {
    display: flex;
    align-items: center;
}

.header__nav-menu-title::before {
    content: "";
    width: 1px;
    height: 20px;
    background: var(--white-color);
    position: absolute;
    top: 12px;
    right: 20px;
}

.header__nav-menu-title:hover .header___menu-title-list {
    display: block;

}

.nav__menu-title::before {
    content: "";
    width: 15px;
    height: 2px;
    background: var(--white-color);
    position: absolute;
    top: 6px;
    left: -21px;
}

.nav__menu-title::after {
    content: "";
    width: 10px;
    height: 2px;
    background: var(--white-color);
    position: absolute;
    top: 14px;
    left: -21px;
}

.header__nav-list {
    width: calc(100% - 280px);
    padding: 0;
    list-style-type: none;
    display: flex;

    margin: 0;
}

.header__nav-item {
    display: inline-block;
    position: relative;
    margin-left: 36px;

}

.header__nav-item-link {
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.4rem;
    line-height: 42px;
    transition: all .3s ease-in-out;

}


.header__nav-item-icon {
    position: absolute;
    display: inline-block;
    top: 12px;
    right: -16px;
    color: var(--white-color);
    transition: transform 0.2s ease;
    font-size: 1.4rem;
}

.header__nav-item:hover .header__nav-item-link,
.header__nav-item:hover .header__nav-item-icon {
    color: var(--yellow-color);
}

.header__nav-item:hover .header__nav-item-icon {
    color: var(--yellow-color);
    transform: rotate(180deg);
}

.header__nav-item-link-active {
    color: var(--yellow-color);
}

/* ---------------------------------Header-base--------------------------------- */

/* ---------------------------------Footer-base--------------------------------- */
.footer {
    background-color: #24272e;
    padding-top: 48px;
    padding-bottom: 1px;
}

.footer__title-menu {
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--white-color);
}

.footer__list-page,
.footer__list-info {
    list-style-type: none;
    padding: 0;
    padding-top: 25px;
}

.footer__list-info li {
    color: #8b8e96;
    line-height: 24px;
    font-size: 14px;
}



.footer__list-item a {
    text-decoration: none;
    color: #8b8e96;
    line-height: 24px;
    font-size: 14px;
    transition: all .3s ease-in-out;

}


.footer__list-item a:hover {
    color: var(--yellow-color);
}

/* .input__control-wrap {
    margin: 24px 0;
} */

.footer__input-group {
    display: block;
    position: relative;
    width: 100%;
    height: 40px;
    margin: 24px 0;
}


.input__control {
    height: 40px;
    border-radius: 0;
    line-height: 40px;
    margin-bottom: 0px;
    float: left;
    width: 100%;
    float: left;
    padding: 0 110px 0 20px;
    background: #fff;
    border-color: #fff;
    font-size: 14px;
    color: #323c42;
    border: none;
    outline: none;
}

.input__control-btn-wrap {
    position: absolute;
    height: 40px;
    width: 90px;
    right: 0;
    top: 0;

}

.input__control-btn-wrap:hover {
    opacity: 0.8;
}

.input__control-btn {
    height: 40px;
    background-color: var(--primary-color);
    border: none;
    width: 100%;
    padding: 0;
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--white-color);
    cursor: pointer;

}

.footer__socials-group {
    font-size: 1.4rem;
}

.socials-button {
    text-decoration: none;
    background-color: var(--white-color);
    height: 42px;
    width: 42px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    margin-right: 6px;
    position: relative;
    overflow: hidden;
}

.socials-button::before {
    content: '';
    background-color: currentColor;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 90%;
    left: -110%;
    transform: rotate(45deg);
    transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);

}

.socials-button.facebook:before {
    background-color: #3B5998;
}

.socials-button.instagram:before {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
}

.socials-button.youtube:before {
    background-color: #ff0000;
}

.socials-button.twitter:before {
    background-color: #1097ec;
}

.socials-icon {
    transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
    font-size: 2.6rem;
    transform: scale(0.8);
}

.socials-icon.facebook {
    color: #546da4;
}

.socials-icon.instagram {
    color: #DC4A38;
}

.socials-icon.twitter {
    color: #1da1f2;
}

.socials-icon.youtube {
    color: #ff0000;
}

.socials-button:hover::before {
    top: -10%;
    left: -10%;
}

.socials-button:hover .socials-icon {
    color: #fff;
    transform: scale(1);
}

.footer__copyright {
    width: 100%;
    border-top: solid 1px #373a43;
    margin-top: 24px;
    height: 56px;
}


.copyright__author {
    text-decoration: none;
    color: #8b8e96;
    line-height: 24px;
    font-size: 1.3rem;
    display: inline-block;
    line-height: 56px;
}

.copyright__author-link {
    text-decoration: none;
    color: var(--white-color);
    line-height: 24px;
    font-size: 1.3rem;
    transition: all .3s ease-in-out;
    display: inline-block;
    line-height: 56px;
}

.copyright__author-link:hover {
    color: var(--yellow-color);
}

.footer__nav-list {
    list-style-type: none;
    display: inline-flex;
    margin: 0;
    padding: 0;
    align-items: center;
    height: 56px;
    justify-content: space-between;

}

.footer__nav-item {
    line-height: 56px;
    margin: 0 12px;
}

.footer__nav-item--link {
    text-decoration: none;
    font-size: 1.3rem;
    color: #8b8e96;
    transition: all .3s ease-in-out;

}

.footer__nav-item--link:hover {
    color: var(--yellow-color);
}

/* ---------------------------------Footer-base--------------------------------- */
/* Col */

/* Animation */

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}