/* Slider */


.slider__img-item {
    max-width: 100%;
    height: auto;
    position: relative;
    padding-left: 0;
    padding-right: 0;
}



.slider__des {
    position: absolute;
    top: 50%;
    color: #fff;
    left: 15%;
}

.slider__des-new {
    font-size: 10rem;
}

.slider__des-dis {
    font-size: 10rem;
    font-weight: 600;
}

.slider__des-pas {
    font-size: 1.8rem;
    line-height: 24px;
}

.buynow {
    text-transform: uppercase;
    border: #fff solid 1px;
    background: #fff;
    width: 196px;
    padding: 12px 0;
    display: inline-block;
    font-weight: 500;
    font-size: 1.7rem;
    line-height: 30px;
    color: #f00;
    text-align: center;
    border-radius: 30px;
    text-decoration: none;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.buynow:hover {
    border: #ff0000 solid 1px;
    background: #ff0000;
    color: #fff;
}

/* Slider */

/* Category */
.nav__category {
    height: 135px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.nav__category-item {
    width: 100%;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    position: relative;

}

.nav__category-item-title {
    font-size: 1.2rem;
    margin: 4px;
    font-weight: 500;
    transition: all .3s ease-in-out;

}

.nav__category-item-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transition: transform 0.3s ease;
    transition: all .3s ease-in;
    margin-bottom: 8px;
}

.nav__category-item:hover .nav__category-item-img {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
    opacity: 0.9;
}

.nav__category-item:hover .nav__category-item-title {
    color: var(--yellow-color);

}

/* Category */

/* List category */
.list__category {
    padding-top: 24px;
    background-color: #f5f5f5;
    padding-bottom: 24px;
}

.list__category-heading-wrap {
    text-align: center;
    margin-bottom: 12px;
    margin-top: 34px;
}

.list__category-heading {
    font-size: 2.4rem;
    margin: 20px 0;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    display: block;
    color: #324753;
}

.list__category-heading-more {
    font-size: 1.6rem;
    padding: 0;
    color: #324753;
    font-weight: 600;
}

.list__category-heading-more:hover {
    color: var(--yellow-color);
}

/* Product */
.list__category-item {
    position: relative;
    background-color: #fff;
    margin-top: 10px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    box-shadow: 0 0.0625rem 0.125rem 0 rgba(0, 0, 0, 0.1);
    transition: all .3s ease-in;
}

.list__category-item-img {
    padding-bottom: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}

.list__category-item__name {
    font-size: 1.4rem;
    font-weight: 400;
    color: #333;
    line-height: 1.8rem;
    margin: 10px;
    height: 3.6rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin-bottom: 6px;
    text-decoration: none;
}

.list__category-item__price {
    display: flex;
    margin-left: 10px;
    align-items: baseline;
    flex-wrap: wrap;
}

.list__category-item__price-old {
    font-size: 1.4rem;
    color: #666;
    text-decoration: line-through;
}

.list__category-item__price-current {
    font-size: 1.8rem;
    color: #ee4d2d;
    margin-right: 6px;

}

.list__category-item__action {
    display: flex;
    justify-content: space-between;
    margin: 6px 10px 6px;
}

.list__category-item__like {
    font-size: 1.3rem;
}

i.list__category-item__like-icon-fill {
    color: #F63D30;
    display: none;
}

.list__category-item__like--liked .list__category-item__like-icon-fill {
    display: inline-block;
}

.list__category-item__like--liked .list__category-item__like-icon-empty {
    display: none;
}

.list__category-item__rating {
    font-size: 1rem;
    transform: scale(0.9);
    transform-origin: right;
    color: #d5d5d5;
    margin-left: auto;
    margin-right: -0.5px;
}

.list__category-item__start--gold {
    color: #FFCE3E;
}

.list__category-item__sold {
    font-size: 1.2rem;
    color: #333;
    margin-left: 8px;
}

.list__category-item__origin {
    display: flex;
    /* justify-content: space-between; */
    margin: 3px 10px 0;
    font-size: 1.2rem;
    color: #595959;
    font-weight: 300;
    padding-bottom: 20px;
}

.list__category-item__brand {
    margin-right: auto;
}


.list__category-item__favourite {
    position: absolute;
    top: 28px;
    left: -7px;
    background-color: currentColor;
    color: #ee4d2d;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.8rem;
    padding-right: 5px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;

}

.list__category-item__favourite::after {
    content: "";
    border-top: 6px solid currentColor;
    border-left: 6px solid transparent;
    position: absolute;
    left: 0px;
    bottom: -5.6px;
    filter: brightness(60%);

}

.list__category-item__favourite i {
    font-size: 0.9rem;
    margin: 0 3px 0 5px;
    color: #fff;

}

.list__category-item__favourite span {
    color: #fff;
}

.list__category-item__sale-off {
    position: absolute;
    background-color: #FFD840;
    top: 0;
    right: 7px;
    height: 39px;
    width: 44px;
    text-align: center;
}

.list__category-item__sale-off::after {
    content: "";
    position: absolute;
    left: 0px;
    right: 0;
    bottom: -8px;
    border-width: 0px 22.1px 8px;
    border-style: solid;
    border-color: transparent #FFD840 transparent #FFD840;

}

.list__category-item__sale-off-percent {
    color: #EE4D2D;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.2rem;
    margin-top: 2px;
    position: relative;
    top: 4px;
}

.list__category-item__sale-off-label {
    font-size: 1.3rem;
    line-height: 1.3rem;
    color: #fff;
    font-weight: 600;
    position: relative;
    top: 4px;
}


.list__category-item:hover {
    transform: scale(1.01);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
    opacity: 0.9;
}

/* Product */

/* List category */

/* Blog */
.blog {
    margin: 18px 0;
}

.blog__title a {
    line-height: 40px;
    font-size: 1.8rem;
    display: inline-block;
    text-decoration: none;
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 0 20px 0 10px;
    font-weight: bold;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.blog__title {
    display: block;
    border-bottom: solid 2px #254753;
    margin: 0 0 10px;
}

.blog__news {
    background-color: #fff3cd;
    height: 52px;
    border-radius: 4px;
    margin-bottom: 80px;
}

.blog__news-null {
    line-height: 52px;
    margin: 0 22px;
    font-size: 1.4rem;
    color: #a38a51;
}

/* Blog */


/* Policy */
.policy__header {
    padding: 15px 0;
}

.policy__header-row {
    margin-left: -40px;
}

.policy__header-list {
    list-style: none;
    display: flex;
}

.policy__header-home a {
    text-decoration: none;
    font-size: 1.4rem;
    color: rgba(0, 0, 0);
}

.policy__header-home:hover a {
    color: var(--yellow-color);
}

.policy__header-slash {
    font-size: 1.4rem;
    padding-left: 12px;
}

.policy__header-name {
    font-size: 1.4rem;
    color: var(--yellow-color);
    font-weight: 300;
    padding-left: 12px;
}

.policy__page-heading {
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 0 15px;
    border-bottom: solid 2px #254753;
    padding-bottom: 20px;
    line-height: 1.4;
}

.policy__page-content {
    min-height: 400px;
    margin-bottom: 40px;
}

.policy__page-content p {
    font-size: 1.5rem;
}


.policy__page-content strong {
    font-size: 1.6rem;
}

/* Contact */
.contact__header {
    padding: 15px 0;
}

.contact__header-row {
    margin-left: -40px;
}

.contact__header-list {
    list-style: none;
    display: flex;
}

.contact__header-home a {
    text-decoration: none;
    font-size: 1.4rem;
    color: rgba(0, 0, 0);
}

.contact__header-home:hover a {
    color: #ffb416;
}

.contact__header-slash {
    font-size: 1.4rem;
    padding-left: 12px;
}

.contact__header-name {
    font-size: 1.4rem;
    color: #ffb416;
    font-weight: 300;
    padding-left: 12px;
}

.contact__page-heading {
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 0 15px;
    border-bottom: solid 2px #254753;
    padding-bottom: 20px;
    line-height: 1.4;
}

.contact__page-gen {
    display: flex;
}

.contact__page-content {
    padding-bottom: 40px;
    width: 35%;
}

.contact__page-item {
    display: flex;
    margin-bottom: 10px;
    background: #f7f7f7;
    padding: 10px;
    border-radius: 5px;
}

.contact__page-img {
    width: 45px;
    height: 40px;
    line-height: 40px;
    border-radius: 40px;
    background: #254753;
    color: #fff;
    text-align: center;
}

.fa-location-dot,
.fa-question,
.fa-phone {
    font-size: 1.8rem;
    padding-top: 11px;
}

.contact__page-address {
    padding-left: 10px;
    font-size: 1.4rem;
    font-weight: bold;
}

.contact__page-address p {
    font-size: 1.4rem;
    font-weight: 400;
    display: block;
    margin-bottom: 0;
    padding-top: 12px;
}

.group__contact {
    padding: 0px 10px;
    margin-bottom: 15px;
    color: #323c42;
    width: 120%;
}

.contact__page-name-email {
    display: flex;
    justify-content: space-between;
}

.form-group {
    border: none;
    padding: 0px 10px;
    margin-bottom: 15px;
    color: #323c42;
}

.form-group label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 1.5rem;
}

.form-group em {
    color: #ff0000;
    font-size: 1.5rem;
}

.form-group input {
    border-color: #f7f7f7;
    background-color: #f7f7f7;
    border: none;
    width: 140%;
    height: 40px;
    border-left: 2px solid #254753;
    border-radius: 2px;
    padding: 0 15px;
    font-size: 1.4rem;
    outline: none;
}


.content-area {
    border-color: #f7f7f7;
    background-color: #f7f7f7;
    height: 100px;
    padding: 10px 15px;
    border-radius: 0;
    resize: none;
    border: none;
    border-left: 2px solid #254753;
    outline: none;
    font-size: 1.4rem;
    width: 115%;
}


.button-default {
    border: none;
    box-shadow: none;
    outline: none;
    background: #254753;
    color: #fff;
    height: 40px;
    line-height: 40px;
    font-weight: bold;
    padding: 0 20px;
    border-radius: 5px;
    display: inline-block;
    font-size: 1.4rem;
    cursor: pointer;
}

.button-default:hover {
    color: #d5d5d5;
}

/* Prodcut page */
.main-product {
    background-color: #f5f5f5;
}

.page__link {
    line-height: 24px;
    display: block;
    font-size: 1.4rem;
    margin: 15px 0;
    font-weight: 400;
}

.page__link-home {
    text-decoration: none;
    color: #323c42;
}

.all-product {
    color: var(--yellow-color)
}

.filter__list-product--heading {
    font-size: 1.8rem;
    font-weight: 500;
    margin: 0;
}

.page__link-home:hover {
    color: var(--yellow-color);
}

.menu__list-product--heading {
    display: flex;
    align-items: center;
    background-color: var(--primary-color);
    height: 40px;
    padding: 6px;
    border-radius: 4px;


}

.menu__list-product-title {
    font-size: 1.4rem;
    color: var(--white-color);
    margin-left: 8px;
}

.menu__list-product-icon {
    font-size: 1.4rem;
    color: var(--white-color);
}

.list__product {
    list-style-type: none;
    padding: 0;
    margin: 0;
    -webkit-box-shadow: 0px 3px 25px 0px rgba(31, 38, 67, 0.1);
    box-shadow: 0px 3px 25px 0px rgba(31, 38, 67, 0.1);

}

.list__product-item {
    line-height: 24px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 26px;
    display: block;
}

.list__product-item:hover {
    background-color: var(--yellow-color);
}

.list__product-item:hover .list__product-item-link {
    color: var(--white-color);
}

.list__product-item-link {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--black-color);
}

.main-container {
    background-color: #f5f5f5;
}

.filter__product-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.filter__product-item {
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 30px;
}

.filter__product {
    background-color: var(--primary-color);
    height: 30px;
    margin-bottom: 16px;
}

.filter__product-item--link {
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.4rem;
}

.filter__product-item:hover {
    background-color: var(--yellow-color);
}

.product__list-item--end {
    padding-bottom: 16px;
}

.page__num-list {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0;
    margin: 20px;
    list-style-type: none;
}


.page__num {
    height: 35px;
    width: 35px;
    border: solid 1px #cccaca;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 10px;
    font-size: 1.2rem;
    cursor: pointer;
}

.page__num-link {
    text-decoration: none;
    color: var(--black-color);
}

.page__num--active {
    background-color: var(--yellow-color);
}

.page__num--active .page__num-link {
    color: var(--white-color);

}

.page__num--arow-not--active {
    color: #bdb6b6;
    cursor: default;
}

.page__num:hover:not(.page__num--arow-not--active) {
    background-color: var(--yellow-color);
}

.page__num:hover:not(.page__num--arow-not--active) .page__num-link,
.page__num:hover:not(.page__num--arow-not--active) i {
    color: var(--white-color);
}

/* Prodcut page */

/* Knowledge page */

.post__list-heading {
    height: 42px;
    text-align: center;
    border-bottom: 2px solid var(--primary-color);
}

.post__list-title-link:hover {
    color: var(--yellow-color);
}

.post__list-title-link {
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--white-color);
    line-height: 42px;
    display: block;
    background-color: var(--primary-color);
    width: 188px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

.post__list-des {
    padding-top: 18px;
    font-size: 1.6rem;
}

.list__know-item-img {
    border: 0 none;
    max-width: 90%;
    height: auto;
    margin: 10px 0 10px 0;
}

.list__know-item {
    padding-bottom: 50%;
    background-repeat: no-repeat;
    background-size: contain;
}

.list__know-heading-title {
    margin: 12px;
}

.list__know-heading {
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
    width: 100%;
}

.list__know-item-title {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--primary-color);
    margin: 10px 0 0 0;

}

.list__know-item-title:hover {
    color: var(--yellow-color);
}

.list__know-item-des {
    font-size: 1.4rem;
    line-height: 20px;
    margin: 0;
    margin-bottom: 16px;
}

/* Knowledge page */